body {
 background: none;
}
button {
    background-color: #5fbf5e;
    border: none;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 1;
}
button:hover {
   opacity: 0.7;
}

#front, #back {
  margin: 0 0 1rem 0;
}

#front_input, #back_input {
  height: 2rem !important;
  font-size: 120% !important;
}
.avatar {
  border: none;
  -webkit-box-shadow: none;
  margin: 0;
  opacity: 1;
  border-radius: 0;
}
.avatar:hover {
   -webkit-transform: none;
}
.title {
   font-family: Ubuntu, Cantarell;
   margin-bottom: 0;
   margin-bottom: 0;
}
.subtitle {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bolder;
}
.menu-list {
  background-color: white;
  opacity: 0.8;
}
.menu-item a{
  color:black;
  opacity: 1;
}
#postlogo {
  opacity: 1
}

table {
  border-collapse: separate !important;
}

.derivtable{
  margin-top: 0;
 /* margin-right: 1rem; */
}
.derivtable td, th {
  white-space: nowrap; 
min-width: 3rem;
}
.derivtable th {
  background: white;
  color: #bababa !important;
}

.derivtable td:first-child {
  position: absolute;
  width: 2.5em;
  left: 0;
  top: auto;
  background-color: white;
  color: #bababa;
  font-weight: bold;
}

 tr:nth-of-type(odd) { 
  background: #eee; 
}

thead tr th {
  border-bottom:1pt solid #bababa;
}

#cardButtons{
  width: 100%;
}

#cardButtons button {
  width: 50%;
  margin-bottom: 0.3rem; 
}

#switch, #mode {
  width: 50%;
}

#mode {
  float: left;
  border-right: .3rem solid white;
  align-content: center;
}
#switch{
  float: right;
}
#next{
  width: 100%;
}
#validity_check {
  margin: 0.2rem;
}
.container-center{
  margin: auto;
  width: 50%;

  padding: 10px;
}

pre {
   padding: 0 !important;
}
.icon.icon-menu {
  color:black;

}
.site-menu .menu-item{

  padding: 0.4rem 0;  
}
.img-inline {
  margin: 0 0 0 0 !important;
  display: inline !important;
  -webkit-box-shadow: none !important;
}

@media only screen and (max-width: 800px){
  .title{
    margin-top: 0rem;
  }
  .site-header {
    padding-bottom: 0;
    margin-top: 0rem;
  }
  .avatar {
    position: absolute;
    top: -1.2rem;
    height: 5rem;
    width: 2.5rem;
  }
  header {
    padding:0;
  }
  header a {
    top: -3.5rem;
    left: -8rem;
    padding-left: 1rem;
  }
  .menu-toggle {
    position:fixed !important;
    bottom: 1rem !important;
    top: auto;
    right: 1rem !important;
    z-index:1000 !important;
    display: block !important;
  }
  .navbar-fixed-bottom {
     position:fixed;
     bottom:0;
     
     width: 100%;
     z-index: 100;
     overflow-y: initial;

  }
  .navbar a {
    float: left;
    display: block;
    text-align:center;
  }
  #postlogo {
    position: relative;
    left: -8rem;
  }
  #posttitle {
    margin-top: auto;
    margin-bottom: 0;
  }
  #postmainsubtitle {
    margin-top: auto;
    margin-bottom: 0;
  }
  #maintitle {
    margin-top: auto !important;
  }
  #flash{
    height: 75vh;
  } 
  .responsive_table,
  .responsive_table thead,
  .responsive_table tbody,
  .responsive_table
  .responsive_table th,
  .responsive_table td,
  .responsive_table tr{
    display: block;
  }
  .responsive_table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
  .responsive_table tr { border: 1px solid #ccc; }
  .responsive_table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 35%; 
  }
  /* the before pseudo element is used as a table header 
  since the each row is displayed as its own table:*/
  .responsive_table td:before { 
		position: absolute;
		/* Top/left values mimic padding */
		top: 8px;
		left: 6px;
		width: 30%; 
		padding-right: 10px; 
		white-space: nowrap;
  }

}
