<header class="site-header">
  {{  if eq .Kind "home" }}
  <h1 id="posttitle">{{ .Site.Title }}</h1>
  {{ else }}
  <h2 id="postmaintitle" class="title">{{ .Site.Title }}</h2>
  {{ end }}
  <p id="postmainsubtitle" class="subtitle">{{ .Site.Params.subtitle }}</p>
  <a id="postlogo" href="/">
    <img class="avatar" src="{{ .Site.Params.avatar }}" alt="Avatar">
  </a>
  <button class="menu-toggle" type="button">
    <span class="icon icon-menu"></span>
  </button>
  <nav class="site-menu collapsed navbar-fixed-bottom">
    <h2 class="offscreen">Main Menu</h2>
    <ul class="menu-list">
      {{ $type := .Type }}
      {{ $kind := .Kind }}
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li class="menu-item
            {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
              is-active
            {{ end }}
            {{ if and (eq .Identifier "tags") (and (eq $type "page") (or (eq $kind "taxonomyTerm") (eq $kind "taxonomy"))) }}
              is-active
            {{ end }}
            {{ if and (eq .Identifier "home") (eq $type "post") }}
              is-active
            {{ end }}">
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
      {{ end }}
    </ul>
  </nav>
</header>
