{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="main">
    <header class="list-header offscreen">
      <h2 class="list-label">All Posts</h2>
    </header>
    <h1>Welcome!</h1>
    <p>On this page, you will find notes on West Greenlandic, such as, information on vocabulary, 
      grammar, and pronunciation. On some , you can use a flashcard app that can help you memorize suffixes and vocabulary.</p>
      <p>Note that this is a work in progress and though I am trying to enter only information I am sure is correct, 
      there is a good chance, I will make mistakes. If you happen to spot some, please, drop me a line at <b>{{ partial "myemail.html" }}</b>
      </p>
      <p>Here is the full list of topics:</p>
         <ul>
        <!-- list all pages of the site-->
        {{ range .Site.Pages.ByWeight }}
        <!--excluding this page (index.html) and pages with exclude parameter:-->
        {{ if and (ne .Params.exclude 1) (ne .Title "Greenlandic") }}
            <!-- render additional h2 if the current file is an index-->
           {{ if eq .File.BaseFileName "_index"}}
         </ul>
           <h2>{{ .Title }}</h2>
         <ul>
           {{ end }}
           {{ if eq .File.BaseFileName "_index"}}
           <li>
             <a href="{{ .URL }}">Introduction</a>
           </li>
           {{ else }}
             {{ if ne .Section "tags" }}
             {{ if ne .Section "categories" }}
             <li>
               <a href="{{ .URL }}">{{ .Title }}</a>
             </li>
             {{ end }}
             {{ end }}
           {{ end }}     
           </li>
        {{ end }}     
      {{ end }}     
      </ul>
  </section>
  {{ partial "footer.html" . }}
{{ end }}
