{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="main">
    <header class="list-header offscreen">
      <h2 class="list-label">All Posts</h2>
    </header>
    <h1>Welcome!</h1>
    <p>This page is a collection of notes on West Greenlandic. It contains information on vocabulary, 
      grammar, and pronunciation. In some cases, I added a small flashcard game to memorize suffixes
      and vocabulary.</p>
      <p>Here is the full list of topics:</p>
      <ul>
      {{ range .Pages }}
        {{if ne .Title "About"}}
        <li>
          <a href="{{.URL}}">{{.Title}}</a>
        </li>
        {{ end}}
      {{ end }}
      </ul>
  </section>
  {{ partial "footer.html" . }}
{{ end }}
