<div>
  <h2 onload="init()">Test Yourself</h2>
  <div id="cardBlock">
    <p id="front"></p>
    <p id="back"></p>
  </div>

  <div id="activeCardButtons">
    <button id="switch" type="button" onclick="switchLang()">Switch</button>
    <button id="next" onclick="next()">Answer</button>
  </div>
</div>
<script>
  "use strict";
  //current deck:
  let voc;
  //current random number:
  let random;
  //card with the index random:
  let currentCard;
  //current language:
  let lang = 0;
  //the entire deck:
  /**let vocbase = [
    ["vakkit", "I Vb you."],
    ["vara", "I V it."],
    ["vassi", "I V you(pl)"],
    ["vakka", "I V them."],
    ["varma", "You V me."],
    ["vat", "You V it."],
    ["vatsigut", "You V us."],
    ["vatit", "You V them."],
    ["vaanga", "It V me"],
    ["vaatit", "It V you."],
    ["vaa", "It V it."],
    ["vaatigut", "It V us."],
    ["vaasi", "It V you (pl)."],
    ["vai", "It V them."],
    ["vatsigit", "We V you"],
    ["varput", "We V it"],
    ["vassi", "We V you(pl)"],
    ["vavut", "We V them."],
    ["vassinga", "You(pl) V me."],
    ["varsi", "You(pl) V it."],
    ["vassigut", "You(pl) V us."],
    ["vasi", "You(pl) V them."],
    ["vaannga", "They V me."],
    ["vaatsit", "They V you."],
    ["vaat", "They V it."],
    ["vaatigut", "They V us."],
    ["vaasi", "They V you(pl)."],
  ];**/
  //let vocbase = [["Sulivunga.","I work(ed)."],["Sulivutit.","You work(ed))."],["Sulivoq.","It works(ed)."]];
  init();

  function init() {
    //copy the entire deck to the current deck:
    voc = vocbase.slice();
    //get and display a random current card:
    pick();
    //document.getElementById("next").innerHTML = "Answer";
    //alert(voc.length);
  }

  function pick() {
    let max = voc.length;
    random = Math.floor(Math.random() * max);
    currentCard = voc[random];
    display(currentCard);
  }

  function next() {
    if (document.getElementById("back").innerHTML == '' || document.getElementById("front").innerHTML == '') {
      flip();
      document.getElementById("next").innerHTML = "Next";
    } else {
      //alert(random + currentCard[0]);
      //alert(currentCard[0]);
      voc.splice(random, 1);
      if (voc.length === 0) {
        init();
      };
      pick();
      document.getElementById("next").innerHTML = "Answer";
    }
  }

  function display() {
    if (lang == 0) {
      document.getElementById("front").innerHTML = currentCard[0];
      document.getElementById("back").innerHTML = "";
    } else {
      document.getElementById("front").innerHTML = "";
      document.getElementById("back").innerHTML = currentCard[1];
    }
  }

  function flip() {
    document.getElementById("front").innerHTML = currentCard[0];
    document.getElementById("back").innerHTML = currentCard[1];
  }

  function switchLang() {
    if (lang == 0) {
      lang = 1
      document.getElementById("switch").innerHTML = "Switch";
    } else {
      lang = 0;
      document.getElementById("switch").innerHTML = "Switch";
    }
    display()
  }
</script>